{{- if site.Params.giscus.repo -}}
<script src="https://giscus.app/client.js"
    data-repo="{{ site.Params.giscus.repo }}"
    data-repo-id="{{ site.Params.giscus.repoID }}"
    data-category="{{ site.Params.giscus.category }}"
    data-category-id="{{ site.Params.giscus.categoryID }}"
    data-mapping="{{ default "pathname" site.Params.giscus.mapping }}"
    data-strict="{{ default "0" site.Params.giscus.strict }}"
    data-reactions-enabled="{{ default "1" site.Params.giscus.reactionsEnabled }}"
    data-emit-metadata="{{ default "0" site.Params.giscus.emitMetadata }}"
    data-input-position="{{ default "bottom" site.Params.giscus.inputPosition }}"
    data-theme="{{ default "preferred_color_scheme" site.Params.giscus.theme }}"
    data-lang="{{ default "en" site.Params.giscus.lang }}"
    data-loading="{{ default "lazy" site.Params.giscus.loading }}"
    crossorigin="anonymous"
    async>
</script>
{{- end -}}
