{{- /* Web App Manifest & Icons */ -}}
<link rel="manifest" href="/site.webmanifest">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/favicon-512x512.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

{{- /* 霞鹜文楷 - 屏幕阅读版 */ -}}
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.7.0/style.css" rel="stylesheet">

{{- /* Google Tag Manager */ -}}
{{- if site.Params.googleTagManager.id }}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ site.Params.googleTagManager.id }}');</script>
{{- end }}

{{- /* Google Analytics 4 */ -}}
{{- if site.Params.googleAnalyticsID }}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.Params.googleAnalyticsID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ site.Params.googleAnalyticsID }}');
</script>
{{- end }}
